.SystemModalWindow-root {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0005;
    font-size: 1.1rem;
    z-index: 50000;
}

.SystemModalWindow-root .SystemModalWindow-window {
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .25s ease, opacity .25s ease;
    opacity: 0;
    transform: scale(.85);
    max-height: 95%;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 1vmax #0006;
}

.SystemModalWindow-root .SystemModalWindow-window.open {
    transform: scale(1);
    opacity: 1;
}

.SystemModalWindow-root .SystemModalWindow-window button {
    border: none;
    background-color: #5202;
    border-radius: 5px;
    padding: .4vmax 1.5vmax;
    font-size: .9em;
    color: #520;
    cursor: pointer;
    font-weight: 500;
    transition: background-color .2s ease, color .2s ease;
}

.SystemModalWindow-root .SystemModalWindow-window button:active {
    transform: scale(.95);
}

.SystemModalWindow-root .SystemModalWindow-window button.accent {
    background-color: #600;
    color: #f6b15c;
}

.SystemModalWindow-root .SystemModalWindow-window button[disabled] {
    background-color: #ccc;
    color: #777;
    cursor: default;
}

.SystemModalWindow-root .SystemModalWindow-window button:not(:first-child) {
    margin-left: .2vmax;
}

.SystemModalWindow-root .SystemModalWindow-window button:not(:last-child) {
    margin-right: .2vmax;
}

.SystemModalWindow-root .SystemModalWindow-window button:not([disabled]):active {
    transform: scale(.95);
}


.SystemModalWindow-root > div.SystemModalWindow-window > div.header {
    padding: .5vmax 1vmax;
    color: #520;
    border-bottom: 1px solid #aaa;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}

.SystemModalWindow-root > div.SystemModalWindow-window > div.header:empty {
    display: none;
}

.SystemModalWindow-root > div.SystemModalWindow-window > div.footer {
    display: flex;
    justify-content: flex-end;
    padding: .5vmax 1vmax;
}

.SystemModalWindow-root > div.SystemModalWindow-window > div.footer:empty {
    display: none;
}

.SystemModalWindow-root > div.SystemModalWindow-window > div.paper {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
}


@media screen and (min-width: 751px) {
    .SystemModalWindow-root .SystemModalWindow-window button:not([disabled]):hover {
        background-color: #5206;
        color: #310;
    }

    .SystemModalWindow-root .SystemModalWindow-window button.accent:not([disabled]):hover {
        background-color: #400;
        color: #f6d17c;
    }
}


@media screen and (min-width: 575px) {
    .SystemModalWindow-root {
        padding: 2vmax;
    }
}


@media screen and (max-width: 750px) {
    .SystemModalWindow-root .SystemModalWindow-window {
        max-height: 99vh;
    }

    .SystemModalWindow-root > div.SystemModalWindow-window > div.header {
        font-size: 1.3em;
    }

    .SystemModalWindow-root .SystemModalWindow-window button {
        border: 2px solid #0002;
        padding:  1.05vmax 1.5vmax;
        font-size: 1.2em;
        color: #520;
        cursor: pointer;
        font-weight: 500;
    }

    .SystemModalWindow-root > div.SystemModalWindow-window > div.paper p {
        font-size: 1.1em;
    }
}