.SystemUI-LayoutAppbar {
    display: flex;
    z-index: 1201 !important;
    max-width: 19vw !important;
    margin-left: 0;
    right: auto !important;
    justify-content: center;
    background-color: #152033;
    color: #eee;
    box-shadow: none;
    border: none;
}

.SystemUI-LayoutAppbar-title {
    flex-grow: 1;
}
