.SystemUI-LayoutSitemap {
    width: 18vw;
    flex-shrink: 0;
    margin-right: 1vw;
}

.SystemUI-LayoutSitemap-paper {
    width: 19vw;
    background: linear-gradient(to right bottom, #222, #444) !important;
    color: #eee !important;
    padding: .35vmax 0 !important;
    box-shadow: 0 0 1vmax #0004 !important;
    margin: .5vmax;
    border-radius: 7px;
    border: 1px solid #111 !important;
    height: calc(100% - 2vmax) !important;
}

.SystemUI-LayoutSitemap-container {
    overflow: auto;
}

.SystemUI-LayoutSitemap-folder {
    font-size: 0.9em;
    border-top: 1px solid #0004;
    border-bottom: 1px solid #0004;
    background-color: #0002;
}

.SystemUI-LayoutSitemap a {
    text-decoration: none;
    color: inherit;
}

.SystemUI-LayoutSitemap a:hover {
    background-color: #0005 !important;
}

.SystemUI-LayoutSitemap-item {
    text-shadow: 0 1px 1px #0009;
    padding: .25vmax 0;
}

.SystemUI-LayoutSitemap-item:hover {
    background-color: #0005 !important;
}

.SystemUI-LayoutSitemap-icon {
    width: 1.75vw;
    height: 1.75vw;
}
