#System-loadingAnimationBackdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0007;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

#System-loadingAnimationBackdrop > div {
  display: inline-block;
  width: 80px;
  height: 80px;
}

#System-loadingAnimationBackdrop > div:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: System-loadingAnimation 1.2s linear infinite;
}

@keyframes System-loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

