html {
    font-size: 1.05rem;
    background-color: #e8eaed;
}

@media screen and (max-width: 1600px) {
    html {
        font-size: 1.1rem;
    }
}

body {
    background-color: #e8eaed;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
}

div {
    position: relative;
}
